body {
   text-align: center;
}

nav {
   background-color: #3c818a !important;
}

form {
   width: 100%;
}

.heading {
   margin: 20px;
}

.biblebook-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   /* justify-items: ce nter; */
}

.btn {
   background-color: #3c818a;
   padding: 5px;
   border: 1px solid white;
   cursor: pointer;
   color: #fff;
}

.btn:hover {
   background-color: #44a4b1 !important;
   border: none;
}

.input-group.md-form.form-sm.form-2 button.lime-border {
   border: 1px solid #3c818a;
}

.input-group.md-form.form-sm.form-2 select.lime-border {
   border: 1px solid #3c818a;
}
