* {
   margin: 0;
   padding: 0;
}

nav {
   background-color: #3c818a !important;
}

form {
   width: 100%;
}

.auth-form {
   border: 1px solid #3c818a;
   padding: 20px;
   color: #3c818a;
}

.auth-form input {
   border: 0.2px solid #2c95c8;
}

input:focus {
   outline: none;
}

.pagination-links {
   text-align: center;
}

.biblebook-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   /* justify-items: ce nter; */
}

.btn {
   background-color: #3c818a;
   padding: 5px;
   border: 1px solid white;
   cursor: pointer;
   color: #fff;
}

.btn:hover {
   background-color: #44a4b1 !important;
   border: none;
}

.input-group.md-form.form-sm.form-2 button.blue-border {
   border: 1px solid #3c818a;
}

.input-group.md-form.form-sm.form-2 select.blue-border {
   border: 1px solid #3c818a;
}

.pagination-btn {
   margin: 10px;
   padding: 5px;
   background-color: #3c818a !important;
   color: #fff;
   border: none;
}
