*,
::after,
::before {
   box-sizing: border-box;
}

span a {
   color: #3c818a !important;
}

.verse-link {
   color: #3c818a !important;
}

body {
   min-height: 100vh; /* will cover the 100% of viewport */

   display: block;
   position: relative;
   padding-bottom: 56px; /* height of your footer */
}
nav {
   background-color: #3c818a !important;
}

.auth-form {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   /* color: #3c818a; */
   /* background-color: rgb(248, 251, 251); */
   /* width: 500px; */
   width: 50%;
   /* border: 1px solid #3c818a; */
   padding: 50px;
   /* color: #3c818a; */
}

/* .auth-form input {
   border: 0.2px solid #3c818a;
   background-color: rgb(248, 251, 251);
} */

input:focus {
   outline: 1px solid #5bc0be;
}

.verse {
   position: absolute;
   left: 50%;
   top: 40%;
   transform: translate(-50%, -50%);
   /* color: #3c818a; */
   background-color: rgb(248, 251, 251);
   /* width: 500px; */
   width: 80%;
   /* border: 1px solid #3c818a; */
   padding: 50px;
   /* color: #3c818a; */
}

.pagination-links {
   text-align: center;
}

.biblebook-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

   /* justify-items: ce nter; */
}

h5.modal-title {
   color: #3c818a !important;
}

.book-btn {
   background-color: #3c818a;
   padding: 5px;
   border: 1px solid white;
   cursor: pointer;
   color: #fff;
}

.auth-btn {
   background-color: #3c818a;
   border: 1px solid white;
}

.auth-link {
   color: #3c818a;
}

.heading-blue {
   color: #3c818a;
}

.verse-btn {
   background-color: #fff;
   padding: 5px;
   border: 1px solid white;
   cursor: pointer;
   color: #000;
   text-align: left;
}

.btn:hover {
   background-color: #44a4b1 !important;
   border: none;
}

.input-group.md-form.form-sm.form-2 select.blue-border {
   border: 1px solid #3c818a;
}

.pagination-btn {
   margin: 20px;
   padding: 0 5px 0 5px;
   background-color: #3c818a !important;
   color: #fff;
   border: 1px solid #3c818a;
}

footer {
   /* text-align: center;
   margin: auto; */
   background-color: #3c818a;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 56px;
   color: #fff;
}

footer p {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.api-link {
   color: #fff;
   border-bottom: 1px solid #fff;
}

.api-link:hover {
   color: rgb(49, 49, 197);
   border-bottom: none;
}

.alert {
   text-align: center;

   /* margin: 0; */
   color: #fff;
}

.error {
   background-color: #e9afaf;
}

.success {
   background-color: #4fdba6;
   color: #000;
}

/* .al {
   display: none;
} */
.delete-verse {
   border: none;
   color: #f68181;
   background-color: rgb(235, 235, 235);
}

.card-body {
   position: relative;
}

.ex {
   position: absolute;
   top: 0;
   left: 100%;
   color: rgba(29, 29, 29, 0.993);
}

@media (max-width: 900px) {
   .auth-form {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      /* color: #3c818a; */
      /* background-color: rgb(248, 251, 251); */
      /* width: 500px; */
      width: 80%;
      /* border: 1px solid #3c818a; */
      padding: 50px;
      /* color: #3c818a; */
   }
}

@media (max-width: 500px) {
   .auth-form {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      /* color: #3c818a; */
      /* background-color: rgb(248, 251, 251); */
      /* width: 500px; */
      width: 100%;
      /* border: 1px solid #3c818a; */
      padding: 50px;
      /* color: #3c818a; */
   }
}

@media (max-width: 770px) {
   .biblebook-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      /* justify-items: ce nter; */
   }
}

/* @media (max-width: 380px) {
   .alert {
      height: 100px;
   }
} */
